@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
// @use "sass:math";
@import "./reset";
@import "./header";
@import "./main";
@import "./footer";

.container {
    max-width: $maxWidthContainer;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

// btn

.btn{
    border: none;
    background: none;
    
}

//input
input:focus {
    outline: none; 
  }

._footer-title{
    font-size: 24px;
    line-height: calc(29 / 24 * 100%);
    color: #000;
    font-weight: 700;
    @media (max-width: $md1) {
        font-size: 18px;
    }
}


.slider-arrows {
    display: grid;
    grid-template-columns: repeat(2, 48px);
    column-gap: 8px;
}

.slider-arrow {
    border-radius: 50%;
    height: 48px;
    background-color: #e89f71;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;

    &_prev{
        transform: rotate(180deg);
    }

    &:hover{
        opacity: 0.3;
    }
}

._flyImage._ibg{
    opacity: 1;
    position: fixed;
    z-index: 100;
    transition: all 1s ease 0s;
}